.button {
    width: 100%;
    height: 100%;
    background-color: rgb(66, 90, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.button:hover {
    background-color: rgb(82, 143, 199);
}

.container {
    display: grid;
    grid-gap: 20px;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}